@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Allura&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Bilbo&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}



body {
    font-family: sans-serif;
}

.primary-color {
    color: #189661;
}

.primary-color2 {
    color: #86203d;
}

.info h2 {
    word-spacing: 0.6rem;
}

.info a {
    transition: collor 2s ease-in-out;
}

.info a:hover {
    color: #86203d;
}

#header .container .tmp-logo img {
    position: absolute;
    width: 8%;
    top: 10px;
    left: 10px;
}

/* HEADER */

#header {
    min-height: calc(100vh - 94px);
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../image/homepageimg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.height-90 {
    min-height: calc(100vh - 94px);
}

.banner h1 {
    animation: fromLeft;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
    text-transform: uppercase;
    line-height: 50px;
    margin-bottom: 15px;
    color: #fff;
    font-weight: 500;
    font-size: 2rem;
}

.banner h1 span {
    font-size: 1rem;
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}

@keyframes fromLeft {
    0% {
        transform: translateX(-100px);
        opacity: 0;
    }
    50% {
        transform: translateX(30px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/*.main-btn {
    color: #86203d;
    font-size: 2rem;
    border: 2px solid #86203d;
    transition: all 1s ease-in-out;
}

.main-btn:hover {
    color: #86203d;
    border: 2px solid #c9c1ac;
    background: #c9c1ac;
}

.pastry-btn {
    animation: fromRight;
    animation-duration: 4s;
    animation-delay: 2s;
    opacity: 0;
    animation-fill-mode: forwards;
}*/

@keyframes fromRight {
    0% {
        transform: translateX(100px);
        opacity: 0;
    }
    50% {
        transform: translateX(-30px);
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.header-link {
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    background: #c9c1ac;
    border-radius: 10px;
    transition: all 2s ease;
    animation: fromBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}

.header-link:hover {
    color: lawngreen;
}

@keyframes fromBottom {
    0%{
        transform: translateY(-10px);
    }

    50%{
        transform: translateY(10px);
    }

    100%{
        transform: translateY(-10px);
    }
}

/* navbar */

.navbar {
    background: #c9c1ac;
    padding: 20px 20px;
    transition: all 1s ease;
    position: relative;
}

.navbar-background {
    padding: 5px 20px;
}

.navbar-brand {
    font-size: 30px;
    transition: all 1s ease;
    color: green;
}

.navbar-brand:hover {
    color: #fff;
}

.nav-link {
    color: green;
    text-decoration: none;
    transition: all 2s ease;
    font-size: 2rem;
    font-weight: 400;
    font-family: 'Bilbo', cursive;
}

.nav-link:hover {
    color: #fff;
}

/*.nav-btn {
    background: transparent;
    color: #d3325f;
    border: 2px solid #d3325f;
    font-size: 23px;
    transition: all 2s ease;
}

.nav-btn:hover {
    color: #242424;
    border: 2px solid #242424;
    transform: rotate(10deg);
}*/

.toggler-btn {
    border: 2px solid #86203d;
    padding: 5px;
    transition: all 2s ease;
}

.bar {
    width: 30px;
    height: 3px;
    margin: 5px;
    background: green;
    transition: all 0.5s ease;
}

.change .bar1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.change .bar2 {
    opacity: 0;
}

.change .bar3 {
    transform: rotate(45deg) translate(-5px, -8px);
}

/* End of Navbar */

/* our company section */

.about {
    padding: 60px 0;
}

.section-heading h4 {
    text-transform: uppercase;
    color: lawngreen;
    font-weight: 400;
    letter-spacing: 1px;
}

.office-info i {
    color: #86203d;
    margin-top: 40px;
}

.office-info h1 {
    font-size: 18px;
    font-weight: 300;
    text-transform: uppercase;
    color: #fff;
}


.office-info p,
.office-info address {
    color: rgba(255, 255, 255, 0.5);
    font-size: 12px;
    font-weight: 200;
}
/* end our company section*/

/* Services */

#special-services {
    background: linear-gradient(rgba(0, 0, 0, 0.7),rgba(0, 0, 0, 0.7)), url(../image/orange-bckg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.heading-services h1 {
    text-align: center;
    margin: 20px 0;
    padding-top: 30px;
}

.heading-services h3 {
    text-align: center;
    margin: 20px 0;
    color:  #fff;
}

hr {
    width: 10%;
    height: 5px;
    background: #45e19f;
    margin: auto;
    border: none;
    margin-top: -10px;
}

.services {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.sr-items {
    width: 80%;
    height: 100%;
    background-color: #f7f7f7;
    border-radius: 5px;
    text-align: center;
    margin: 15px;
}

.fa-chart-pie, .fa-network-wired,
.fa-tasks, .fa-acquisitions-incorporated,
.fa-stream, .fa-poll, .fa-chalkboard-teacher {
    color: #86203d;
    line-height: 100px;
    margin: 40px;
}

.sr-items h4 {
    font-size: 25px;
    font-weight: 500;
    margin: 10px;
}

.sr-items p {
    font-size: 20px;
    font-weight: 500;
    margin: 40px;
    color: #6a6a6a;
    letter-spacing: 0.5;
}

/* End services */

.about, .ourteam, .contact, .title {
    padding: 2% 2%;
    text-align: center;
}

h1 {
    margin-bottom: 20px;
    color: lawngreen;
    font-size: 1.9rem;
    word-spacing: .5rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: .2rem;
    text-shadow: 2px 2px 4px #5c4a4a;
    font-family: sans-serif;
}

h4, h5 {
    text-align: center;
    color: #5c4a4a;
    font-size: 1.5rem;
    word-spacing: .15rem;
    letter-spacing: .1rem;
    font-weight: 600;
}

p {
    margin-bottom: 20px;
    color: rgb(27, 4, 4);
    font-size: 1.2rem;
    word-spacing: .15rem;
    letter-spacing: .1rem;
    font-weight: 550;
    text-align: center;
}


/* our services */

/*.all-items-wrapped {
    background: #cfc5c5;
    background-position: center;
    background-size: cover;
}

.all-items-wrapped h3 {
    text-align: center;
    color: #5c4a4a;
    font-size: 1.5rem;
    word-spacing: .15rem;
    letter-spacing: .1rem;
    font-weight: 600;
    font-family: 'Lato', sans-serif;
}*/



/* Our team */

#our-team-wapper {
    padding: 10rem 0;
    background-color: #fff;
}

#our-team-wapper .heading {
    text-transform: uppercase;
    font-size: 2.8rem;
    letter-spacing: 3px;
    margin-right: -3px;
    margin-bottom: 5rem;
    text-align: center;
    color: #333;
    position: relative;
}

#our-team-wapper .heading::after {
    content: "";
    width: 100%;
    height: .8rem;
    background-color: #45e19f;
    position: absolute;
    bottom: -2rem;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
}

.card-wrapper {
    display: flex;
    align-items: center;
    align-content: center;
    flex-direction: column;
}

.card {
    width: 100%;
    background-color: #ebeef8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 2rem 0;
    box-shadow: .5rem .5rem 3rem rgba(0, 0, 0, 0.2);
}

.first-card {
    top: 0px;
}

.profile-img {
    object-fit: cover;
    border-radius: 50%;
    margin-top: -11rem;
    z-index: 999;
    border: 1rem solid #ebeef8;
}

.card h1 {
    font-size: 2.5rem;
    color: #333;
    margin: 1.5rem 0;
    text-align: center;
}

.job-title {
    color: #777;
    font-size: 1.5rem;
    font-weight: 300;
}


.about {
    font-size: 1.5rem;
    margin: 1.5rem 0;
    font-style: italic;
    text-align: center;
    color: #333;
}

.card .btn {
    padding: 1rem 2.5rem;
    background-color: #445ae3;
    border-radius: 2rem;
    margin: 1rem 0;
    text-transform: uppercase;
    color: #eee;
    font-size: 1.4rem;
    transition: all .5s;
}

.card .btn:hover {
    transform: translateY(-2px);
    box-shadow: .5rem .5rem 2rem rgba(0, 0, 0, 0.2);
}

.card .btn:active {
    transform: translateY(0);
    box-shadow: none;
}

.social-media {
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    padding: 2rem 0;
    margin-top: 1.5rem;
    border-top: 1px solid rgba(0, 0, 0, .1);
}

.social-media i {
    font-size: 3rem;
    transition: color .5s;
}

.fa-facebook-square {
    color: #3b5999;
}

.fa-twitter-square {
    color: #55acee;
}

.fa-linkedin {
    color: #55acee;
}

.fa-google-plus-square {
    color: #dd4b39;
}

.fa-facebook-square:hover,
.fa-twitter-square:hover,
.fa-linkedin:hover,
.fa-google-plus-square:hover {
    color: #45e19f;
}

@media screen and (min-width: 700px) {
    .card-wrapper {
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }

    .card {
        margin: 2rem;
        transition: transform .5s;
    }

    #our-team-wapper .heading::after {
        width: 20rem;
    }

    .first-card {
        top: -125px;
    }

    .third-card {
        top: -165px;
    }

    @keyframes fadeIn {
        from{
            opacity: 0;
        }

        to{
            opacity: 1;
        }
    }
    
    .card:nth-child(1) {
        animation: fadeIn .5s .5s backwards;
    }

    .card:nth-child(2) {
        animation: fadeIn .5s 1s backwards;
    }

    .card:nth-child(3) {
        animation: fadeIn .5s 1.5s backwards;
    }

    .card:nth-child(4) {
        animation: fadeIn .5s 2s backwards;
    }

    .card:hover {
        transform: scale(1.05);
    }
       
}

#contactus {
    background: linear-gradient(rgba(0, 0, 0, 0.5),rgba(0, 0, 0, 0.5)),url(../image/ourteamimg.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    position: relative;
}

.contactus {
    text-align: center;
    padding: 20px;
}

.contactus .contact-item .phone, .email, .address {
    margin: 10px;
    padding: 10px;
}

.contact-item p {
    color: #eee;
    font-size: 1rem;
    font-weight: 500;
}

/* footer */

.header-link2 {
    display: inline-block;
    position: relative;
    bottom: 5%;
    background-color: #c9c1ac;
    border-radius: 10px;
    transition: all 2s ease;
    animation: fromBottom;
    animation-duration: 4s;
    animation-iteration-count: infinite;
 
}

.header-link2:hover {
    color: lawngreen;
}

.scrollTop {
    bottom: 70px;
    right: 10px;
}



























